body{
    background-color: rgb(106, 106, 127);
}
ul.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

li.gallery-item{
    width: 32%;
    margin: 3px;
}

a.gallery-link{
    
   
}
.gallery-image{
    width: 100%;
    height: 173px;
    display: block;
    border: 1px solid #fffefe;
}